html, body {
  height: 100%;
}

.col-md-10{
  width: 100%;
}

.wrapper {
  min-height: 100%;
  min-width: 100%;
  position:relative;
  display:inline-block;
}

.container-fluid {
  padding-left: 0px;
}

.contents {
  padding-left: 18%;
  padding-right: 15px;
  padding-top: 12px;
  padding-bottom: 30px;
}

.no-padding {
  padding: 0px;
}

#navigation {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 0px;
  background-color: #428bca;
  font-weight: 200;
  height: 100%;
  position: absolute;
  z-index: 1;
}

#navigation a:hover, #navigation a:visited, #navigation a:link, #navigation a:active {
  text-decoration: none;
}

#navigation ul {
  list-style-type: none;
  padding-left: 0px;
}

#navigation li {
  padding-top: 2px;
  padding-bottom: 2px;
}

#navigation .selectable:hover:not(.selected) {
  background-color: #4B9EE6;
}

#navigation .selected {
  background-color: #53AFFF;
}

#navigation .nav-item-text  {
  padding-left: 25px;
  color: #292f33;
  font-weight: 500;
}

#navigation  li  ul  li .nav-item-text {
  padding-left: 50px;
}

#navigation a {
  color: white;
  font-weight: 300;
}

.json {
  font-family: monospace;
  font-size: 13px;
}

#time-passed, #time-now {
  padding-top: 7px;
}

#time-passed {
  float: left;
  padding-left: 85px
}

#time-now {
  float: right;
  padding-right: 85px;
}

#chart-title {
  text-align: center;
}

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  line-height: 0.45;
  margin-bottom: 0px;
  border-radius: 0px;
  border: none;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  background-color: #ddd;
  border: none;
}