.client {
  margin-bottom: 5px;
  border-radius: 4px;
  text-align: center;
  border: lightgrey 1px solid;
}

.client .name {
  margin-left: 6px;
  margin-right: 6px;
}

.client .dest {
  font-size: 9pt;
  padding: 0 6px 6px 6px;
  margin: 0;
  min-height: 45px;
}

.client hr {
  margin: 0;
  padding: 0;
  border-top: 1px solid lightgray;
}

.sr-header {
  color: #999;
  text-transform: uppercase;
  padding-top: 10px;
  text-align: left;
  margin-left: 15px;
}

.sr-text {
  color: gray;
  font-weight: bold;
  text-align: right;
  margin: 0 0 0 -25px;
  padding-top: 12px;
  padding-bottom: 10px;
}

.sr-good {
  color: #6BBF50;
}

.sr-poor {
  color: #F28E1D;
}

.sr-bad {
  color: #CA3528;
}

.sr-undefined {
  color: #777777;
}

.conn-trouble {
  position: absolute;
  margin-left: -90px;
  margin-top: -11px;
  width: 185px;
  border: 1px solid #ccc;
  color: #777777;
}

.conn-trouble span {
  color: #f0ad4e;
}

.dtab {
  list-style-type: none;
}
