<!doctype html> 
<html> 
  <head> 
    <title>{{name}}</title> 
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
    <style media="screen" type="text/css">

      .h3, h3 {
        margin-top: 5px;
      }

      .container {
        margin: 20px;
      }

      .tabbable {
        margin-top: 30px;
      }

      .tabs-below > .nav-tabs,
      .tabs-right > .nav-tabs,
      .tabs-left > .nav-tabs {
        border-bottom: 0;
      }

      .tab-content > .tab-pane,
      .pill-content > .pill-pane {
        display: none;
      }

      .tab-content > .active,
      .pill-content > .active {
        display: block;
      }

      .tabs-below > .nav-tabs {
        border-top: 1px solid #ddd;
      }

      .tabs-below > .nav-tabs > li {
        margin-top: -1px;
        margin-bottom: 0;
      }

      .tabs-below > .nav-tabs > li > a {
        -webkit-border-radius: 0 0 4px 4px;
           -moz-border-radius: 0 0 4px 4px;
                border-radius: 0 0 4px 4px;
      }

      .tabs-below > .nav-tabs > li > a:hover,
      .tabs-below > .nav-tabs > li > a:focus {
        border-top-color: #ddd;
        border-bottom-color: transparent;
      }

      .tabs-below > .nav-tabs > .active > a,
      .tabs-below > .nav-tabs > .active > a:hover,
      .tabs-below > .nav-tabs > .active > a:focus {
        border-color: transparent #ddd #ddd #ddd;
      }

      .tabs-left > .nav-tabs > li,
      .tabs-right > .nav-tabs > li {
        float: none;
      }

      .tabs-left > .nav-tabs > li > a,
      .tabs-right > .nav-tabs > li > a {
        min-width: 74px;
        margin-right: 0;
        margin-bottom: 3px;
      }

      .tabs-left > .nav-tabs {
        float: left;
        margin-right: 19px;
        border-right: 1px solid #ddd;
      }

      .tabs-left > .nav-tabs > li > a {
        margin-right: -1px;
        -webkit-border-radius: 4px 0 0 4px;
           -moz-border-radius: 4px 0 0 4px;
                border-radius: 4px 0 0 4px;
        line-height: 0.55;
        margin-bottom: 0px;
      }

      .tabs-left > .nav-tabs > li > a:hover,
      .tabs-left > .nav-tabs > li > a:focus {
        border-color: #eeeeee #dddddd #eeeeee #eeeeee;
      }

      .tabs-left > .nav-tabs .active > a,
      .tabs-left > .nav-tabs .active > a:hover,
      .tabs-left > .nav-tabs .active > a:focus {
        border-color: #ddd transparent #ddd #ddd;
        *border-right-color: #ffffff;
      }

      .tabs-right > .nav-tabs {
        float: right;
        margin-left: 19px;
        border-left: 1px solid #ddd;
      }

      .tabs-right > .nav-tabs > li > a {
        margin-left: -1px;
        -webkit-border-radius: 0 4px 4px 0;
           -moz-border-radius: 0 4px 4px 0;
                border-radius: 0 4px 4px 0;
      }

      .tabs-right > .nav-tabs > li > a:hover,
      .tabs-right > .nav-tabs > li > a:focus {
        border-color: #eeeeee #eeeeee #eeeeee #dddddd;
      }

      .tabs-right > .nav-tabs .active > a,
      .tabs-right > .nav-tabs .active > a:hover,
      .tabs-right > .nav-tabs .active > a:focus {
        border-color: #ddd #ddd #ddd transparent;
        *border-left-color: #ffffff;
      }
    </style>
  </head>
  <body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <div class="container">
      <h1>{{name}}</h1>
      <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
          {{#modules}}
          <li>
            <a href="#{{role}}" data-toggle="tab">{{role}}</a>
          </li>
          {{/modules}}
        </ul>
        <div class="tab-content">
          {{#modules}}
          <div class="tab-pane" id="{{role}}">
            <div style="display:inline-block; width:50%">
              <h3>{{role}}</h3>
              <h5><em>{{description}}</em></h5>
              <table class="table table-condensed table-bordered">
                <thead>
                  <tr>
                    <th>Parameter</th>
                    <th>Value</th>
                  </tr>
                </thead>
                <tbody>
                  {{#perModuleParams}}
                  <tr>
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                  </tr>
                  {{/perModuleParams}}
                </tbody>
              </table>
            </div>
          </div>
          {{/modules}}
        </div>
      </div>
    <div>
  </body>
</html>
