<link href="/admin/files?name=MetricsList&type=css" rel="stylesheet"/>
<script type="text/javascript" src="/admin/files?name=MetricsList&type=js"></script>
<script type="text/javascript" src="/admin/files?name=ChartRenderer&type=js"></script>
<div class="metrics">
  <h3>Metrics Graphs</h3>
  <div class="row">
    <div id="chart-div" class="col-md-12"></div>
  </div>
  <div id="metrics-list" class="row">
    <div class="col-md-4 no-padding">
      <div class="metrics-section">
        <ul id="metrics-groups"></ul>
      </div>
    </div>
    <div class="col-md-8 no-padding">
      <div class="metrics-section">
        <ul id="metrics-items"></ul>
      </div
    </div>
  </div>
</div>


