<!doctype html>
<html>
  <head>
    <title></title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="/admin/files?name=style&type=css" rel="stylesheet"/>
    <script type="text/javascript" src="/admin/files?name=Utils&type=js"></script>
  </head>
  <body>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <div class="container-fluid">

      <div class="row">
        <div class="wrapper">
          <div class="col-md-2" id="navigation">
            {{{navigation}}}
          </div>
          <div class="col-md-10">
            <div class="contents">
              {{{contents}}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>